.root-container {
  display: flex;
}

.left-side {
  width: 20%;
  background-color: lightgray;
}

.right-side {
  width: 80%;
}

mat-card {
}

.members {
  background: white;
}

.approve-btn {
  position: absolute;
  left: 0;
  display: none;
}

.approve {
  color: red;
  position: relative;
}

.approve:hover .approve-btn {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.actions {
  width: 100%;
  padding: 2rem;
  background-color: gray;
}

.actions input {
  width: 20%;
  padding: 0.5rem;
}

.actions button {
  margin: 0 1rem;
}
