<div class="root-container">
  <div class="left-side">
    <mat-card>
      <p>{{ club?.name }}</p>
      <p>{{ club?.description }}</p>
      <p>{{ club?.status }}</p>
      <p>{{ !!club?.phone ? club?.phone : "No Phone" }}</p>
      <p>{{ club?.department.name }}</p>
      <p>{{ club?.department.email }}</p>
      <p>{{ club?.department.phone }}</p>
      <p
        *ngIf="
          currentUser.type === 'System Admin' ||
          status === 'President' ||
          status === 'Secretary'
        "
      >
        Num. Of Projects: {{ projects?.length }}
      </p>
      <p *ngIf="currentUser.type === 'System Admin'">
        Num. Of Members: {{ members?.length + admins?.length }}
      </p>
    </mat-card>

    <app-addProject
      *ngIf="status === 'President' || status === 'Secretary'"
      [club]="club"
    ></app-addProject>
  </div>

  <div
    class="right-side"
    *ngIf="
      status == 'Enrolled' ||
      currentUser.type === 'System Admin' ||
      status === 'President' ||
      status === 'Secretary'
    "
  >
    <h1>Projects</h1>
    <div class="container mt-4">
      <div class="row">
        <div *ngFor="let project of projects" class="col-auto mb-3">
          <app-projectCard [project]="project"></app-projectCard>
        </div>
      </div>
    </div>

    <mat-error *ngIf="!!!projects">There is no projects in this club</mat-error>

    <hr />

    <h1
      *ngIf="
        status === 'President' ||
        status === 'Secretary' ||
        currentUser.type === 'System Admin'
      "
    >
      Admins & Members
    </h1>

    <div
      class="actions"
      *ngIf="
        status === 'President' ||
        status === 'Secretary' ||
        currentUser.type === 'System Admin'
      "
    >
      <input
        id="selected-user"
        type="text"
        [value]="!!selectedUser ? selectedUser?.email : 'User'"
        disabled
      />

      <button
        *ngIf="!!selectedUser && currentUser.type === 'System Admin'"
        mat-raised-button
        color="primary"
        (click)="promote('Secretary')"
      >
        Promote to Secretary
      </button>

      <button
        *ngIf="!!selectedUser && currentUser.type === 'System Admin'"
        mat-raised-button
        color="primary"
        (click)="promote('President')"
      >
        Promote to President
      </button>

      <button
        *ngIf="
          (!!selectedUser && status === 'President') || status === 'Secretary'
        "
        mat-raised-button
        color="primary"
        (click)="assignWorker(selectedProject)"
      >
        Assign to project
      </button>

      <mat-form-field appearance="legacy">
        <mat-label>Select a Project</mat-label>
        <mat-select #selectedProject>
          <mat-option *ngFor="let project of projects" [value]="project.id">{{
            project.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-card
      class="members"
      *ngIf="
        status === 'President' ||
        status === 'Secretary' ||
        currentUser.type === 'System Admin'
      "
    >
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Student Status</th>
            <th scope="col">Membership Status</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of members; index as i">
            <td class="action">
              <button
                (click)="
                  !!!selectedUser
                    ? (selectedUser = user)
                    : (selectedUser = null)
                "
                mat-raised-button
                [color]="selectedUser === user ? 'primary' : 'accent'"
              >
                {{ selectedUser === user ? "Selected" : "Select" }}
              </button>
            </td>
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ user.firstName + " " + user.lastName }}
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.status }}</td>
            <td [class.approve]="user.membershipStatus === 'Waiting'">
              {{ user.membershipStatus }}
              <button
                *ngIf="
                  user.membershipStatus === 'Waiting' ||
                  status === 'President' ||
                  status === 'Secretary'
                "
                (click)="approve(user)"
                class="approve-btn"
                mat-raised-button
                color="primary"
              >
                Approve
              </button>
            </td>
            <td>{{ user.from }}</td>
            <td>{{ !!!user.to ? "Present" : user.to }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card>

    <mat-card
      class="members"
      *ngIf="
        status === 'President' ||
        status === 'Secretary' ||
        currentUser.type === 'System Admin'
      "
    >
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Student Status</th>
            <th scope="col">Role</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of admins; index as i">
            <td class="action">
              <button
                (click)="
                  !!!selectedUser
                    ? (selectedUser = user)
                    : (selectedUser = null)
                "
                mat-raised-button
                [color]="selectedUser === user ? 'primary' : 'accent'"
              >
                {{ selectedUser === user ? "Selected" : "Select" }}
              </button>
            </td>
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ user.firstName + " " + user.lastName }}
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.status }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.from }}</td>
            <td>{{ !!!user.to ? "Present" : user.to }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
</div>

<!-- <mat-card *ngFor="let project of projects">
  <button
    (click)="onSelect(project.id, type)"
    mat-raised-button
    color="primary"
    *ngFor="let type of projectStatusTypes"
  >
    {{ type }}
  </button>
  <p>{{ project.name }}</p>
  <p>{{ project.description }}</p>
  <p>{{ project.type }}</p>
  <p>{{ project.startDate }}</p>
  <p>{{ project.endDate }}</p>
  <p>{{ selectedStatus === "" ? project.status : selectedStatus }}</p>
  <div *ngFor="let resource of project.resources" style="background: red">
    <p>{{ resource.name }}</p>
    <p>{{ resource.type }}</p>
    <p>{{ resource.description }}</p>
    <p>{{ resource.status }}</p>
    <p>{{ resource.from }}</p>
    <p>{{ resource.to }}</p>
  </div>
</mat-card> -->
