<!-- <a [routerLink]="['/club', club.id + '']"> -->
<mat-card [routerLink]="['/club', club.id + '']">
  <img
    class="card-img"
    src="../../../../assets/images/club-images/1.png"
    alt=""
  />

  <div class="section">
    <img
      class="icon"
      src="../../../../assets/images/club-icons/name.svg"
      alt=""
    />
    <p class="name">{{ club.name }}</p>
  </div>

  <div class="section">
    <img
      class="icon"
      src="../../../../assets/images/club-icons/status.png"
      alt=""
    />
    <p class="status">{{ club.status }}</p>
  </div>

  <div class="section">
    <img
      class="icon"
      src="../../../../assets/images/club-icons/dep.png"
      alt=""
    />
    <p class="department">{{ club.department?.name }}</p>
  </div>
  <div class="spacer"></div>
  <p class="description-title">Description</p>
  <p class="description">{{ club.description }}</p>
</mat-card>
<button
  (click)="
    status === 'Not Enrolled'
      ? enroll()
      : status === 'Waiting'
      ? exitClub()
      : exitClub()
  "
  mat-raised-button
  [color]="
    status === 'Not Enrolled'
      ? 'primary'
      : status === 'Waiting'
      ? 'accent'
      : 'warn'
  "
>
  {{
    status === "Not Enrolled"
      ? "Enroll"
      : status === "Waiting"
      ? "Waiting For Approval"
      : "Terminate Membership"
  }}
</button>
