#addArticle {
  position: fixed;
  top: 90%;
  left: 90%;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: large;
  background: rgb(7, 111, 209);
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.menu-btn {
  height: 100%;
  border: 1px solid rgb(43, 43, 143);
  border-radius: 0;
}
