<div class="root-container">
  <input id="search" [(ngModel)]="term" type="text" placeholder="Search" />

  <form [formGroup]="form">
    <label for="">Move</label
    ><input type="text" placeholder="User" formControlName="userID" disabled />
    <label for="">to</label>

    <select formControlName="clubID">
      <option *ngFor="let club of clubs" [value]="club.id">
        {{ club.name }}
      </option>
    </select>
  </form>

  <mat-card>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Type</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers; index as i">
          <td class="action">
            <button mat-raised-button color="accent">Select</button>
          </td>
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ user.firstName + " " + user.lastName }}
          </td>
          <td>{{ user.email }}</td>
          <td>{{ user.type }}</td>
          <td>{{ user.status }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>
