<div class="root-container">
  <input id="search" [(ngModel)]="term" type="text" placeholder="Search" />

  <form [formGroup]="form">
    <label for="">Move</label
    ><input type="text" placeholder="User" formControlName="email" disabled />
    <label for="">to</label>

    <select formControlName="clubID">
      <option *ngFor="let club of clubs" [value]="club.id">
        {{ club.name }}
      </option>
    </select>

    <button
      class="add-btn"
      mat-raised-button
      color="warn"
      (click)="addStudent()"
      [disabled]="email.invalid || clubID.invalid"
    >
      Move
    </button>
  </form>

  <mat-card>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Type</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers; index as i">
          <td class="action">
            <button
              (click)="onSelect(user)"
              mat-raised-button
              [color]="selectedEmail === user.email ? 'primary' : 'accent'"
            >
              {{ selectedEmail === user.email ? "Selected" : "Select" }}
            </button>
          </td>
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ user.firstName + " " + user.lastName }}
          </td>
          <td>{{ user.email }}</td>
          <td>{{ user.type }}</td>
          <td>{{ user.status }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>
